apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  labels:
    app.kubernetes.io/name: msa-shop
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  mysql-root-password: {{ .Values.secrets.mysqlRootPassword | quote }}
  jwt-secret: {{ .Values.secrets.jwtSecret | quote }}
  rabbitmq-username: {{ .Values.secrets.rabbitmqUsername | quote }}
  rabbitmq-password: {{ .Values.secrets.rabbitmqPassword | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  labels:
    app.kubernetes.io/name: msa-shop
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  MYSQL_HOST: {{ include "msa-shop.mysqlHost" . }}
  MYSQL_PORT: "3306"
  RABBITMQ_HOST: {{ include "msa-shop.rabbitmqHost" . }}
  RABBITMQ_PORT: "5672"
