spring:
  datasource:
    url: jdbc:h2:mem:orderdb;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true

server:
  port: 8083

product-service:
  base-url: http://localhost:8082

payment-service:
  base-url: http://localhost:8084

resilience4j:
  retry:
    instances:
      productService:
        maxAttempts: 3
      paymentService:
        maxAttempts: 3
  circuitbreaker:
    instances:
      productService:
        slidingWindowSize: 10
      paymentService:
        slidingWindowSize: 10
